name: Scan newest blocks

on:
  workflow_dispatch:
  schedule:
    - cron: "0,30 * * * *"

permissions:
    contents: write

jobs:
  generate:
    name: Check blocks
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Set up Go 1.x
        uses: actions/setup-go@v5
        with:
          go-version: stable
        id: go

      - name: Run
        run: make generate
        env:
          TWILIO_ACCOUNT_SID: ${{ secrets.TWILIO_ACCOUNT_SID }}
          TWILIO_AUTH_TOKEN: ${{ secrets.TWILIO_AUTH_TOKEN }}
          FROM_NUMBER: ${{ secrets.FROM_NUMBER }}
          TO_NUMBER: ${{ secrets.TO_NUMBER }}
          INTERESTING_DIFFICULTY: "1P"

      - name: Commit updates
        run: |
          if [ -n "$(git status --porcelain)" ]; then
            git config user.name "hardest-blocks-bot"
            git config user.email "bot@adamkshannon.com"

            git add docs/
            git commit -m "docs: periodic update"
            git push origin master
          fi
